.App {
  text-align: center;
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.title {
  color: darkblue;
}

.dd-button {
  margin-left: 1rem;
}

.prod-name-label {
  font-weight: 700;
  font-size: 1.3rem;
}

.red-color {
  color: darkred;
}

.green-color {
  color: green;
}

.li-settings {
  list-style-type: none;
  font-weight: bold;
  border: 0.3px solid lightgrey;
}

